@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #121212;
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}


body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* NavBar */

.navbarContainer {
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  /* border-bottom-width: 1px;  */
  /* border-style: solid;  */
  padding: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  background: #242424;
  position: relative;
  overflow: visible;
  height: 58px;
}

.navbarContentRight {
  display: flex;
  width: 40%;
  justify-content: space-between;
}

.navbarContentStyling, .navbarCurrentPageContentStyling  {
  border-radius: 0.3rem; 
  border-width: 1px; 
  border-color: transparent; 
  border-style: solid; 
  font-weight: 500; 
  cursor: pointer; 
  padding: 1%;
  transition-duration: 100ms;
  transition-property: transform;
  /* transition: all; */
}

.navbarCurrentPageContentStyling {
  border-bottom: 1px solid #60A5FA;
  color: #60A5FA;
}

.navbarContentStyling:hover, .navbarCurrentPageContentStyling:hover  {
  transform: scale3d(1.2, 1.2, 1.2);
  border-bottom: 1px solid #646cff;
}

.navBarLoginButtons {
  display: flex;
  justify-content: space-between;
  width: 9em;
}

.navBarLoginButtons > a {
  padding: 4%;
}

.shopLogoContainer {
  display: flex;
}

.hamburgerContainer {
  display: none;
}

.hamburgerCheckbox {
  display: none;
}

.hamburgerCheckbox + label > img{
  width: 35px;
  height: 35px;
  animation-name: fadeIn;
  animation-duration: 2s;
  background: #e0dada;
  padding: 4px;
  border-radius: 100%;
}

.hamburgerCheckbox + label > img:hover{
  transform: scale(1.1);
}

.hamburgerClose {
  display: none;
}

.hamburgerCheckbox:checked + label > .hamburgerOpen{
  display: none;
}

.hamburgerCheckbox:checked + label > .hamburgerClose{
  display: block;
}

.hamburgerDirectoryContainer {
  position: absolute;
  list-style: none;
  margin: 0;
  /* display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: repeat(6, 1fr); */
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  top: 0;
  right: 0;
  width: cover;
  padding: 4%;
  padding-top: 0;
  padding-bottom: 0;
  height: 70vh;
  background: #343434;
  transform: translate(0, 58px);
  visibility: hidden;
  opacity: 0;
  transition-duration: 0.5s;
  border-bottom: 1px solid rgb(128, 128, 128, 50%);
  z-index: 200;
  box-shadow: -2px 2px 2px 	#646cff;
}

.hamburgerCheckbox:checked ~ .hamburgerDirectoryContainer {
  visibility: visible;
  opacity: 1;
}

.hamburgerDirectoryContainer > a {
  text-wrap: nowrap;
}


/* Form */
.formFill {
  padding-bottom: 0.4em;
  width: 280px;
  display: flex;
  justify-content: space-between;
}

#email, #password {
  background: #242424;
}

/* Product category */
.dropdownCategoryListContainer {
  display: none;
  margin-top: 2%;
  margin-bottom: 2%;
  padding-left: 3%;
  padding-right: 3%;
}

.categoryContainerRight {
  width: 200px;
  display: flex;
  justify-content: space-between;
}

#categoryListDropdown {
  padding: 0.2rem;
  border-radius: 4px;
}


/* Product Sorting */
.productSortingContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4%;
  padding-left: 3%;
  padding-right: 3%;
}

.sortProductContainer {
  width: 200px;
  display: flex;
  justify-content: space-between;
}

#sortProduct {
  padding: 0.2rem;
  border-radius: 4px;
}


/* Product listing */

.productListingContainer {
  display: flex;
  gap: 1rem;
  flex-flow: row wrap;
  justify-content: center;
  /* margin-left: 6%;
  margin-right: 6%; */
  flex-grow: 1;
  /* min-height: 100vh */
  /* justify-content: space-between */
}

.productListing {
  width:30%;
   /* width: 100%; */
  /* width: 46%; */
  margin-right: 1.2%;
  margin-bottom: 1em;
  list-style: none;
  height: auto;
  max-height: 300px;
  flex-shrink: 0;
  box-shadow: 0px 0px 4px gray;
  border-radius: 16px;
  overflow: hidden;
  padding: 1em;
  display: flex;
  flex-flow: column;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition-duration: 100ms;
  transition-property: transform;
  background: #242424;
}

.productListing:hover {
  transform: scale3d(1.05, 1.05, 1.05);
  border: 1px solid gray;
  box-shadow: 4px 4px 8px gray;
}

.productListLinkContainer{
  flex-flow: column;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.productListingImg {
  max-width: 350px;
  height: 10em;
  object-fit: contain;
  /* h-[50%] object-contain pt-2 */
}


/* Home */

.homePageContentContainer {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}


/* cart */
.cartPageContentContainer {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

.mainCart {
  margin: 0;
  padding: 2%;
  min-width: 320px;
  /* min-height: 100vh; */
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  /* min-height: 50vh; */
}

.cartTotals{
  padding-top: 2%;
  border-top: 1px solid;
  /* flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-self: flex-start; */
}

.cartTotals > p {
  padding-bottom: 1%;
}

.cartSubmit {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.4em 0.8em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #242424;
  cursor: pointer;
  transition: border-color 0.25s;
}

.cartSubmit:hover {
  border-color: #646cff;
}  

.cartItem {
  display:grid;
  grid-template-columns: 3fr 2fr 1fr 0.5fr 0.5fr 0.5fr 1.5fr 1fr;
  gap: 0.5rem;
  align-items: center;
  padding: 0.5em;
  border-bottom: 1px solid white;
}


.cartItem > p {
  font-size: 12px;
  text-align: center;
}

.cartItem > button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.1em 0.1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #242424;
  cursor: pointer;
  transition: border-color 0.25s;
}

.cartItem :hover {
  border-color: #646cff;
}  

.cartItemImg{
  max-width: 350px;
  height: 10em;
  object-fit: contain;
}


/* Product Detail */
.productDetailContainer {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

.productDetailImgContainer {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
  width: fit-content;
  margin-bottom: 2%;
}

.productDetailImgButtonContainer {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  top: 50%;
}

.productDetailImgButtonContainer > button {
  background: #80808080;
  padding: 1%;
  padding-top: 0;
  transition-duration: 100ms;
}

.productDetailImgButtonContainer > button:hover {
  transform: scale3d(1.2, 1.2, 1.2);
  border: 1px solid #646cff;
  color: #646cff;
}


.productDetailTextContainer {
  margin-bottom: 2%;
  width: 80vw;
}

.productDetailTextContainer > h1 {
  margin-bottom: 2%;
}

.similarProductsContainer {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 2rem;
  margin-right: 4%;
  margin-left: 4%;
}

.similarProductsContainer > h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 2%;
}

.similarProductsContainer > div {
  margin-right: 0;
}

.similarProductsButtonContainer {
  width: 33%;
  display: flex;
  justify-content: space-around;
}

.similarProductsButtonContainer > button {
  background: #80808080;
  height: 2rem;
  width: 2rem;
  padding: 1%;
  padding-top: 0;
  border-radius: 100%;
  transition-duration: 100ms;
}

.similarProductsButtonContainer > button:hover {
  transform: scale3d(1.2, 1.2, 1.2);
  border: 1px solid #646cff;
  color: #646cff;
}


/* Footer ------------------------------- */
.footerContainer {
  display: flex; 
  justify-content: space-between; 
  padding: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  background: #242424;
  margin-top: 1em;
}

.footerNavigationContainer, .footerServicesContainer {
  display: flex;
  flex-flow: column wrap;
}

.footerSocialsLinksContainer {
  display: flex;
  flex-flow: row wrap;
}

.footerSocialsLinksContainer > a {
  transition-duration: 300ms;
  opacity: 0.9
}

.footerSocialsLinksContainer > a:hover {
  transform: scale3d(1.2, 1.2, 1.2);
  opacity: 1;
}

.footerHeadings {
  margin-bottom: 0.2em;
  font-weight:bold;
  font-size: 1.2em;
}

.footerLinks {
  opacity: 0.8;
  transition-duration: 300ms;
}

.footerLinks:hover {
  color: #60A5FA;
  opacity: 1;
}

.footerLogoContainer {
  display: flex;
  flex-flow: column;
  align-items: center;
}


/* Searchhbar--------------------------- */
.searchbarForm, .searchbarFieldset {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.searchbarForm {
  margin-top: 1.1em;
}

#searchbar {
  width: 50%;
  padding: 0.4em;
  padding-top: 0.2em;
  border-radius: 4px;
}


/* About Us */

.aboutUsContentContainer {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

.aboutUsContent {
  display: flex;
  justify-content: space-around;
  padding: 2%;
  flex-grow: 1;
}

.aboutUsContent > img{
  max-width: 40vw;
  /* height: 10em; */
  object-fit: contain;
}

.aboutUsContentDescription {
  max-width: 45vw;
  display: flex;
  flex-flow: column;
  justify-content: center;
  box-shadow: 0.5rem 0.5rem 0.5rem gray;
  border-radius: 16px;
  overflow: hidden;
  padding: 1em;
  transition-duration: 100ms;
  transition-property: transform;
  background: #242424;
}

.aboutUsContentDescription > h1, .aboutUsContentDescription > p{
  padding-bottom: 1rem;
}


@media screen and (max-width: 768px){
  .productListing {
    width: 46%;
  }
  .productListingContainer {
    margin-left: 2%;
    margin-right: 2%;
  }
  .aboutUsContent {
    flex-flow: column;
    align-items: center;
  }
  .aboutUsContent > img{
    padding-bottom: 1rem;
    max-width: 90%;
  }
  .aboutUsContentDescription{
    max-width: 90%;
  }
  /* .similarProductsContainer {
    width: 46%;
  } */
}

@media screen and (max-width: 600px) {
  .shopLogoContainer > h1 {
    display: none;
  }
  .footerContainer {
    display: flex; 
    flex-flow: column wrap;
    align-items: center;
  }
  .footerNavigationContainer, .footerServicesContainer, .footerSocialsContainer {
    padding-bottom: 4%;
    align-items: center;
  }
  .footerSocialsContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  .hamburgerContainer {
    display: inline-block;
  }
  .navbarContentRight {
    display: none;
  }
  .dropdownCategoryListContainer {
    display: flex;
    justify-content: end;
  }
  .normalCategoryList {
    display: none;
  }
}

@media screen and (max-width: 479px) {
  .productListing {
    width: 100%;
  }
  .productListingContainer {
    margin-left: 4%;
    margin-right: 4%;
  }
}




